<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="./styles/nav.css">
</head>
<body>
    <nav>
        <div class="nav-bar">
            <div class="logo">
                <a href="#">FinEase</a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Savings</a></li>
                    <li><a href="#">Investments</a></li>
                    <li><a href="#">Expenditure</a></li>
                </ul>
            </div>
            <div class="nav-icons">
                <div class="search-bar">
                    <input type="text" placeholder="Search for products/services">
                </div>
                <ul>
                    <li><a href="#"><img src="icons/profile.png" alt="Profile"></a></li>
                    <li><a href="#"><img src="icons/settings.png" alt="Settings"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
