<%-include("./partials/header.ejs")%>
<div class="container  my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
        
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Transactions
        </li>
      </ol>
    </nav>
  </div>

<div class="transaction">
    
      
    <div class="list-group box list-group-flush border-bottom scrollarea">
        <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
          <div class="d-flex w-10 title align-items-center justify-content-between">
            <h1 class="mb-1">Transactions</h1>
            <small></small>
          </div>
          <br/>
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Name</strong>
            <strong class="mb-1">Amount</strong>
            <strong class="mb-1">Date</strong>
            
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Lorem</strong>
            <small class="text-body-secondary">+ Rs 490</small>
            <small class="text-body-secondary">10/05/2024</small>
          </div>
          <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">ipsum</strong>
            <small class="text-body-secondary">- Rs 120</small>
            <small class="text-body-secondary">09/05/2024</small>
          </div>
          <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Lorem</strong>
              <small class="text-body-secondary">+ Rs 490</small>
              <small class="text-body-secondary">10/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">ipsum</strong>
              <small class="text-body-secondary">- Rs 120</small>
              <small class="text-body-secondary">09/05/2024</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          
      </div>

</div>

<br/>
<%-include("./partials/footer.ejs")%>
</div>
</body>
</html>