/* Style the navigation bar */
nav {
    background-color: #f0f0f0;
    display: flex; /* Makes the elements display in a row */
    justify-content: space-between; /* Spreads out the elements evenly */
    padding: 10px;
}
.container{
    background-color: #333;
}
/* Style the logo */

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Style the navigation links */

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block; /* Makes the links display horizontally */
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

/* Style the icons on the right side of the navbar */

.nav-icons {
    display: flex; /* Makes the icons display horizontally */
}

.search-bar {
    margin-right: 20px;
    flex-grow: 1; /* Makes the search bar fill any remaining space */
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Makes the search bar fill the available space */
}

.nav-icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Adds spacing between icons */
}
